.spent-time{
    width: 100%;
    height: 80px;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    color: #6047EC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookmarked{
    margin-top: 24px;
    padding: 10px 15px;
    width: 100%;
    height: 100vh;  
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
}
.bookmark-count{
    font-weight: 700;
    font-size: 24px;
    color: #111111;
}