.nav-bar{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 40px;
    font-weight: 600;
    color: #111111;
}
.nav-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
