.single-blog{
    margin: 0 auto;
    max-width: 800px;
}
.img{
    width: 100%;
    border-radius: 5px;
}
.author-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-img-container{
    width: 60px;
    height: 60px;
    
    margin-right: 10px;
}
.author-name-img{
    display: flex;
    align-items: center;
}
.author-img{
    width: 100%;
    clip-path: circle();
}
.author-name{
    font-size: 24px;
    font-weight: 700;

}
.read-time-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(17, 17, 17, 0.6);
}

.blog-title{
    font-size: 45px;
    font-weight: 700;
    color: #111111;
}

.blog-hr{
    width: 800px;
    margin-bottom: 20px;
    border: 1px solid rgba(17, 17, 17, 0.1);
}

@media (max-width: 576px) {
    .blog-hr{
        width: 100%;
    }
    .single-blog{
        max-width: 100%;
    }
  }